body {
    background-color: #346572;
}

#aboutMe {
    padding-top: 2%;
}

#profPicContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 400px;
    height: 100%;
}

#profPic {
    width: 100%;
    height: auto;
    filter: drop-shadow(7px 7px 3px);
}

#description {
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
    font-weight: 600;
    color: whitesmoke;
    text-align: justify;
}

.pictures {
    border: 5px solid rgb(245, 219, 186);
    border-radius: 20px;
    background-color: teal;
    text-align: center;
    font-size: larger;
    filter: drop-shadow(7px 7px 3px);
}

.pictures img {
    width: 100%;
    height: auto;
}

.pictures #bigger {
    height: 85%;
}

a {
    text-decoration: none;
}

.picCaption {
    color: aliceblue;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: larger;
}

.titles {
    font-family: 'Playfair Display', serif;
    color: rgb(247, 207, 156);
}

#footer {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-style: italic;
    font-weight: 600;
}

@media (max-width: 575.98px) {
    #description {
        font-size: larger;
    }

    #aboutMe {
        padding-top: 5%;
    }
}

@media (max-width: 991.98px) {
    .pictures #bigger {
        height: 80%;
    }
}